vm-files
vm-files/*
out
out/*
bin
bin/*
build
build/*
gpio-motor-control
gpio-motor-control.o
ultrasonic-sensor-playground
pmem.bin
zig-out
zig-out/*
zig-cache
zig-cache/*
__pycache__
__pycache__/*
*.pyc
.py-env
.py-env/*





