# sudo cp gpio-motor-control-watcher.service /etc/systemd/system/gpio-motor-control-watcher.service
# sudo systemctl enable --now gpio-motor-control-watcher

[Unit]
Description=gpio-motor-control restarter

[Service]
Type=oneshot
ExecStart=/usr/bin/systemctl restart gpio-motor-control.service
LimitAS=infinity
LimitRSS=infinity
LimitCORE=infinity
LimitNOFILE=infinity

[Install]
WantedBy=multi-user.target


